@font-face {
    font-family: 'sofia_pro_extra_light';
    src: url('../fonts/sofiaproextralight-webfont.woff2') format('woff2'),
         url('../fonts/sofiaproextralight-webfont.woff') format('woff'),
         url('../fonts/sofiaproextralight-webfont.svg#sofia_proextra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_pro_light';
    src: url('../fonts/sofiaprolight-webfont.woff2') format('woff2'),
         url('../fonts/sofiaprolight-webfont.woff') format('woff'),
         url('../fonts/sofiaprolight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_pro_regular';
    src: url('../fonts/sofiaproregular-webfont.woff2') format('woff2'),
         url('../fonts/sofiaproregular-webfont.woff') format('woff'),
         url('../fonts/sofiaproregular-webfont.svg#sofia_pro_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin font-size($sizeValue: 16){
  font-size: $sizeValue + px;
  font-size: ($sizeValue / $remsize) + rem;
}

@mixin line-height($sizeValue: 16){
  line-height: $sizeValue + px;
  line-height: ($sizeValue / $remsize) + rem;
}

@function sofia($style) {
  @if $style == 200 {
    @return 'sofia_pro_extra_light';
  } @else if $style == 300 {
    @return 'sofia_pro_light';
  } @else if $style == 500 {
    @return 'sofia_pro_regular';
  }
}

$system: 'Helvetica','Arial','sans-serif';

@mixin font($size:16,$s:300,$lineheight:16,$l:0) {
	$font: '';
	@if $s < 200 { $font: $system; } @else { $font: #{sofia($s), $system};  }
  font-family : $font;
	letter-spacing: rem($l);
  @include font-size($size);
  @include line-height($lineheight);
}
