@font-face {
  font-family: 'icebreaker';
  src:
    url('../ico/icebreaker.ttf?yifvks') format('truetype'),
    url('../ico/icebreaker.woff?yifvks') format('woff'),
    url('../ico/icebreaker.svg?yifvks#icebreaker') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomn-"], [class*=" icomn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icebreaker' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomn-quote-end:before {
  content: "\e904";
}
.icomn-quote-start:before {
  content: "\e905";
}
.icomn-arrow-down:before {
  content: "\e900";
}
.icomn-arrow-left:before {
  content: "\e901";
}
.icomn-arrow-right:before {
  content: "\e902";
}
.icomn-arrow-up:before {
  content: "\e903";
}
