@function img($name) {
  @return #{$imgpath}#{$name};
}

@function baseline($multiplier:1) {
  @return #{$baseline * $multiplier}rem;
}

@function gutter($multiplier:1) {
  @return #{$gutter * $multiplier}rem;
}

@function rem($px:16) {
  @return #{$px / $remsize}rem;
}
