/* =========== */
/* = Pathing = */
/* =========== */

$imgpath: '../images/';

/* =========== */
/* = Colours = */
/* =========== */
$orange: #ff6600;
$highlight: $orange;

/* ========= */
/* = Sizes = */
/* ========= */

//1rem = 16px;
$remsize: 16;

$gutter: 15 / $remsize;
$baseline: 30 / $remsize;

/* ============== */
/* = Breakpoint = */
/* ============== */
$xxl-breakpoint: 1600px;
