@include media-breakpoint-up(xs) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(xs) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(lg) {}


@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

@include media-breakpoint-between(md, xl) {}

@media all and (min-width: $xxl-breakpoint) {
  .container {
      max-width: 1400px;
  }
}

@include media-breakpoint-up(xl) {
  &.pt-lg-5 {
    padding-top: rem(60) !important;
  }
  &.mt-lg-5 {
    margin-top: rem(60) !important;
  }
  &.pb-lg-5 {
    padding-bottom: rem(60) !important;
  }
}

main {
  position: relative;
  z-index: 1;
  margin-top: rem(300);
  background-color: $white;
  @include media-breakpoint-up(md) {
    margin-top: rem(500);
  }
  @include media-breakpoint-up(lg) {
    margin-top: rem(700);
  }
  @include media-breakpoint-up(xl) {
    margin-top: 100%;
    margin-top: 100vh;
  }
}
