.ib {
  &-section {
    &:first-child {
      .container {
        border-top: rem(1) solid $highlight;
      }
    }
  }
}

#ib {
  &-hero {
      position: fixed;
      top: 0;
      z-index: 0;
      height: rem(300);
      @include media-breakpoint-up(md) {
        height: rem(500);
      }
      @include media-breakpoint-up(lg) {
        height: rem(700);
      }
      @include media-breakpoint-up(xl) {
        height:100%;
        height:100vh;
      }
      .bkg-cover {
        top: 0;
        left: 0;
        transition-duration: 10s;
        transform: scale(1.0);
        @include media-breakpoint-up(md) {
          height: rem(500);
        }
        @include media-breakpoint-up(lg) {
          height: rem(700);
        }
        @include media-breakpoint-up(xl) {
          height:100%;
          height:100vh;
        }
      }
      .cta {
        top: 0;
        padding-bottom: rem(30);
      }
      &:hover {
        .bkg-cover {
          transform: scale(1.1);
        }
      }
  }

  &-intro {
    .bkg-cover {
      height: rem(200);
      @include media-breakpoint-up(lg) {
        height: rem(210);
      }
      @include media-breakpoint-up(xl) {
        height: rem(350);
      }
    }
  }

  &-shop-this-look {
    overflow: hidden;
    .full-width-image {
      transition-duration: .3s;
      height: rem(200);
      @include media-breakpoint-up(sm) {
        height: rem(350);
      }
      @include media-breakpoint-up(sm) {
        height: rem(400);
      }
      @media all and (min-width: $xxl-breakpoint) {
        height: rem(500);
      }
    }
    .btn {
      margin-bottom: rem(40);
    }
    &:hover {
      .full-width-image {
        transform: scale(1.02);
      }
      .btn {
        background-color: $orange;
        color: $white;
        transform: none;
      }
    }
  }
}
