.bkg {
  &-cover {
    background : {
      size: cover;
      position: 50% 50%;
    }
  }
  &-color {
    &-white {
      background-color: $white !important;
    }
  }
}

.full-width-image {
  position: relative;
  width: 100%;
  height: rem(300);
  overflow: hidden;
  h2 {
    position: absolute;
    bottom: rem(-8);
  }
  &--600 {
    height: rem(300);
    @include media-breakpoint-up(xl) {
      height: rem(500);
    }
    @media all and (min-width: $xxl-breakpoint) {
      height: rem(600);
    }
  }
}
