button,
button:active,
button:focus {
  border: 0;
  outline: none;
  background: none;
}

a.btn,
.btn {
  @include font(14,500,18,2);
  border-radius: 0;
  &:active,
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &-box {
    padding: rem(11) gutter(2);
    &-white {
      background-color: $white;
    }
  }
  &-text {
    padding: 0;
    &-orange {
      color: $orange;
    }
  }
  &--underline {
    display: inline-block;
    background: none;
    padding : {
      left: rem(12);
      right: rem(12);
    }
    border-bottom: rem(1) solid $black;
    &:hover {
      border-bottom-color: $highlight;
    }
  }
}

