.slick {
  &-list {
    padding: {
      left: rem(20);
      right: rem(20);
    }
    a {
      padding: {
        left: rem(10);
        right: rem(10);
      }
      img {
        transition-duration: .2s;
      }
      &:hover {
        img {
          transform: scale(1.02);
        }
      }
    }
    @include media-breakpoint-up(sm) {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }
  &-arrow {
    color: $orange;
    position: absolute;
    top: 40%;
    width: rem(20);
    z-index: 100;
    @include font-size(30);
  }
  &-next {
    right: rem(-8);
    @include media-breakpoint-up(sm) {
      right: rem(-20);
    }
  }
  &-prev {
    left: rem(-8);
    @include media-breakpoint-up(sm) {
      right: rem(-20);
    }
  }
}

.slick-dots {
  display: none !important;
}
