.form {
  ::-webkit-input-placeholder { color: $black; }
  :-moz-placeholder { color: $black; /* Firefox 18- */  }
  ::-moz-placeholder {  color: $black;  /* Firefox 19+ */ }
  :-ms-input-placeholder {  color: $black;  }
}

.form-control,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  @include font-size(13);
  @include line-height(17);
}

input,textarea {
  outline: none;
}

textarea.form-control,
textarea.form-control:focus {
  resize: none;
}
