html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  @include font();
  color: $black;
}

ul, ol, dl {
  padding-left: rem(20);
  margin-bottom: 0;
  li {
    line-height: 1.4;
  }
  &.listing-type {
    &-no {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
      }
    }
  }
  &.direction {
    &-left {
      li {
        float: left;
      }
    }
    &-right {
      li {
        float: right;
      }
    }
  }
  li + li {
    margin-top: rem(3);
  }
}

p {
  margin-bottom: 0;
  line-height: 1.6;
  small {
    @include font-size(12);
  }
}

a,a:active,a:focus,a:visited {
  display: inline-block;
  outline: none;
  color: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: inherit;
  };
  &.a {
    &--line-no {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      };
    }
    &--none {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      };
    }
  }
}


@each $item in img, ul, ol, dl, a, button, p, 'div[class^="embed-"]', 'div[class*=" embed-"]' {
  * + #{$item} {
    margin-top: baseline();
  }
}

@for $i from 2 through 6 {
  @each $item in img, ul, ol, dl, a, button, p, 'div[class^="embed-"]', 'div[class*=" embed-"]' {
    .h#{$i} + #{$item},
    h#{$i} + #{$item}{
      margin-top: 0;
    }
    #{$item} + .h#{$i},
    #{$item} + h#{$i}{
      margin-top: baseline();
    }
  }
  .h#{$i},
  h#{$i} {
    @include font(30,200,34,3);
    text-transform: uppercase;
    letter-spacing: rem(3);
    margin-bottom: baseline(.5);
    @include media-breakpoint-up(md) {
      margin-bottom: baseline();
    }
  }
}

h1,
.h1 {
  @include font-size(30);
  letter-spacing: rem(5);
  @include media-breakpoint-up(lg) {
    @include font-size(54);
    letter-spacing: rem(10);
  }
  .tm-mark {
    position: relative;
    font-size: 60%;
    letter-spacing: 0;
    top: rem(-8);
    right: rem(3);
    @include media-breakpoint-up(lg) {
      top: rem(-15);
      right: rem(8);
    }
  }
}

h2,
.h2 {
  @include font-size(54);
}

h3,
.h3 {
  @include font-size(20);
  @include line-height(24);
  letter-spacing: rem(2);
  @include media-breakpoint-up(lg) {
    @include font-size(28);
    @include line-height(34);
    letter-spacing: rem(4);
  }
}

h4,
.h4 {
  @include font-size(18);
  @include line-height(26);
}

h5,
.h5 {
  @include font(14,300,18,2);
  .tm-mark {
    top: rem(-4);
    right: rem(2);
  }
}

p {
  @include font-size(14);
  @include line-height(22);
}

blockquote {
  position: relative;
  @include font(18,300,24,0);
  @include media-breakpoint-up(xl) {
    @include font-size(28);
    @include line-height(34);
    letter-spacing: rem(4);
  }
  &:before {
    content: "“";
    position: absolute;
    top: 0;
    left: rem(-10);
    @include media-breakpoint-up(lg) {
      left: rem(-15);
    }
  }
  footer {
    @include font(14,300,16,0);
    margin-top: baseline(.5);
    @include media-breakpoint-up(xl) {
      @include font-size(20);
      @include line-height(22);
      letter-spacing: rem(2);
      margin-top: rem(25);
    }
  }
  .btn {
    margin-top: baseline(.5);
    @include media-breakpoint-up(lg) {
      margin-top: rem(25);
    }
  }
}

.text-color {
  &-black {
    color: $black !important;
  }
  &-white {
    color: $white !important;
  }
}
