#ib-footer {
  overflow: hidden;
  position: relative;
  background: $white;
  @include font(12,100,14,0);
  color: lighten($black,40%);
  ul {
    overflow: hidden;
    li {
      margin-top: 0;
      a {
        color: lighten($black,40%);
        &:hover {
          color: lighten($black,20%);
          text-decoration: underline;
        }
      }
      &:first-child{
        a {
          padding-right: rem(5);
          @include media-breakpoint-up(md) {
            padding-right: rem(10);
          }
        }
      }
    }
    li + li {
      &:before {
        content: "";
        height: rem(8);
        width: rem(1);
        float: left;
        background-color: $orange;
        margin-top: rem(4);
      }
      a {
        padding-left: rem(5);
        @include media-breakpoint-up(md) {
          padding-left: rem(10);
        }
      }
    }
  }
}
