#ib-header {
  z-index: 1001;
  position: absolute;
  background-color: $orange;
  top: 0;
  height: rem(50);
  opacity: 0;
  transition-duration: .2s;
  margin-top: rem(-1);
  @include media-breakpoint-up(xl) {
    height: rem(61);
  }
  &.is-sticky {
    opacity: 1;
  }
}
