{% extends '../layout/layout.twig' %}

{% block body_title %}Merino Loft Innovation{% endblock %}

{% block body_id %}index{% endblock %}

{% block content %}

<a data-scroll href="#content" id="ib-hero" class="d-block w-100 a--none m-0">
    <div class="full-width-image bkg-cover position-absolute" style="background-image:url('/img/hero.jpg')"></div>
    <div class="row align-items-center h-100">
        <div class="col text-center">
            <h1 class="fade-in h1 text-uppercase mb-0 text-color-white">
                Merinoloft<span class="tm-mark">™</span><br>
                Innovation
            </h1>
        </div>
    </div>
    <div class="cta row align-items-end w-100 h-100 position-absolute">
        <div class="col text-center text-color-white">
          <i class="icomn-arrow-down"></i>
        </div>
    </div>
</a>

<main id="content" class="text-center bkg-color-white pt-4 pt-lg-5 pb-4 pb-lg-5">
    <section id="ib-intro" class="ib-section">
        <div id="ib-header" class="w-100 d-flex justify-content-center" data-sticky-class="is-sticky">
            <h2 class="h5 text-color-white align-self-center m-0"><a href="#" class="a--none">Icebreaker MerinoLoft<span class="tm-mark">™</span> Innovation</a></h2>
        </div>
        <div class="container">
            <div class="row mt-4 mt-lg-5">
                <article class="sc-reveal bkg-cover col-md-4" style="background-image:url('/img/grid_1.jpg')">
                    <div class="row align-items-center h-100">
                        <div class="col">
                            <h3 class="h4 text-color-white mb-0">
                                Merino insulation<br>
                                under water<br>
                                repellent shell
                            </h3>
                        </div>
                    </div>
                </article>
                <article class="sc-reveal bkg-cover col-md-4" style="background-image:url('/img/grid_2.jpg')">
                    <div class="row align-items-center h-100">
                        <div class="col">
                            <h3 class="h4 text-color-white mb-0">
                                Extreme warmth<br>
                                to weight ratio
                            </h3>
                        </div>
                    </div>
                </article>
                <article class="sc-reveal bkg-cover col-md-4" style="background-image:url('/img/grid_3.jpg')">
                    <div class="row align-items-center h-100">
                        <div class="col">
                            <h3 class="h4 text-color-white mb-0">
                                Machine-washable<br>
                                and a sustainable<br>
                                alternative to down
                            </h3>
                        </div>
                    </div>
                </article>
                <div class="offset-xl-2 col-xl-8 mt-4 mt-lg-5">
                    <p class="h3 text-uppercase mb-0 sc-text">Lighter and warmer, MerinoLoft™ is the low-bulk, machine washable evolution of the down jacket and the natural alternative to synthetic down.</p>
                </div>
            </div>
        </div>
    </section>
    <a href="https://nz.icebreaker.com/en/web-specials" target="_blank" id="ib-shop-this-look" class="ib-section d-block mt-4 mt-lg-5 ">
        <div class="full-width-image full-width-image--600 bkg-cover w-100" style="background-image:url('/img/hero-shop.jpg')">
            <div class="row align-items-end w-100 h-100">
                <div class="col text-center">
                  <span class="btn btn-box btn-box-white text-uppercase">Shop this look</span>
                </div>
            </div>
        </div>
    </a>
    <section id="ib-made-for-adventure" class="ib-section mt-4 mt-lg-5">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 sc-text">
                    <h3>Made for adventure</h3>
                    <p>The new Hyperia is MerinoLOFT™ jacket offering natural warmth through wool fiber insulation. It’s soft, yet durable Pertex Quantum Air® face-fabric with a DWR finish makes this jacket the perfect companion for your high altitude adventures.<br>Discover Hyperia Lite in a lightweight packable form.</p>
                </div>
            </div>
            <div class="carousel mt-4 mt-lg-5">
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/1_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Women’s<br>helix ls zip hood<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/2_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Women’s<br>hyperia hooded jacket<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/3_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Men’s<br>hyperia lite jacket<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/4_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Men’s<br>helix ls zip<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/2_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Women’s<br>hyperia hooded jacket<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/1_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Women’s<br>helix ls zip hood<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/4_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Men’s<br>helix ls zip<br>$500.00</h5>
                    </a>
                </article>
                <article>
                    <a href="#" class="d-block a--none">
                        <img src="/img/3_.jpg" class="img-fluid w-100" alt="">
                        <h5 class="m-0">Men’s<br>hyperia lite jacket<br>$500.00</h5>
                    </a>
                </article>
            </div>
        </div>
    </section>
</main>
<div id="ib-quote" class="full-width-image full-width-image--600 bkg-cover" style="background-image:url('/img/hero-quote.jpg')">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col col-lg-8 p-3 pl-4 p-lg-4 pl-lg-5">
                <blockquote class="text-color-white mb-0 sc-text2 text-uppercase">
                    The aim was to design a product that at it’s core reflected our roots in merino and bring a new level of cold weather performance and insulation that is both highly functional and extremely versatile”
                    <footer>Senior Global Product Designer</footer>
                    <a href="#" class="btn btn-text btn-text-orange a--line-no text-uppercase">Learn more</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endblock %}
