<footer id="ib-footer" class="p-3 text-center text-md-left">
    <span class="d-block d-md-inline-block float-md-left">&copy; {{ "now"|date('Y') }} Icebreaker. All rights reserved.</span>
    <ul class="d-inline-block float-md-right direction-left listing-type-no mt-1 mt-md-0">
        <li><a href="#" class="a--none">Privacy Policy</a></li>
        <li><a href="#" class="a--none">Terms &amp; conditions</a></li>
    </ul>
</footer>
