<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block body_title %}{% endblock %} | icebreaker</title>
    <meta name="revisit-after" content="1 DAYS" />
    <meta name="rating" content="GENERAL" />

    <meta name="Copyright" content="Copyright icebreaker" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  Essential META Tags -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->
    <meta name="og:site_name" content="">
    <meta name="twitter:image:alt" content="Alt text for image">

    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@website-username">
    <!-- Typekit
        <script src="//use.typekit.com/XXXXX.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>-->
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/fav/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/fav/favicon.png">
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
<div class="page">
    {% block content %}{% endblock %}
    {% block footer %}
        {% include '../layout/footer.twig' %}
    {% endblock %}
</div> <!-- .page -->
</body>
</html>
